<div class="pull-right hidden-xs">
    <b>Version</b> @Environment.Version.ToString()
</div>
<a href="/"><i class="fa fa-globe fa-fw"></i></a> <strong>สำนักงานคณะกรรมการกำกับและติดตามการปฏิบัติราชการในภูมิภาค</strong>